h1 {
    color: #ff33cc;
}
li {
    list-style-type: square;
  }
li.special {
    list-style-type: circle;
}
.special {
    color: #ff33cc;
    font-weight: bold;
}
li em {
    color: rebeccapurple;
  }
h1 + p {
    font-size: 200%;
  }
a:link {
    color: pink;
  }
  
a:visited {
    color: green;
  }
a:hover {
    text-decoration: none;
  }
/* selects any <span> that is inside a <p>, which is inside an <article>  */
article p span { ... }

/* selects any <p> that comes directly after a <ul>, which comes directly after an <h1>  */
h1 + ul + p { ... }