.nadpis {
    color: blue;
    background-color: crimson;
    border: rgb(0, 139, 53);
    width: 50%;
    
}
.nadpis {
    color: rgb(0, 255, 115);
    
}
p {
    font-size: large;
    
}
.outer {
    border: 5px solid black;
  }
  /*comment*/
  .box {
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
  }